<!-- <button (click)="loginWithGg()">login gg</button>
<button (click)="signOut()">logout</button>
<button (click)="test()"></button>
<h1>asd</h1> -->

<div class="mask d-flex align-items-center h-100" style=" background-image: url('../../../assets/BgLogin.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
                <div class="bg-white rounded shadow-5-strong p-5">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form1Example1" class="form-control" />
                        <label class="form-label" for="form1Example1">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form1Example2" class="form-control" />
                        <label class="form-label" for="form1Example2">Password</label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3">
                                    Remember me
                                </label>
                            </div>
                        </div>

                        <div class="col text-center">
                            <!-- Simple link -->
                            <a>Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button class="btn btn-primary btn-block">Sign in</button>
                    <button class="btn btn-danger btn-block" (click)="loginWithGg()"><i
                            class="fab fa-google-plus-g"></i></button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Background image -->

<!--Main Navigation-->