<div class="mask d-flex align-items-center h-100" style=" background-image: url('../../../assets/BgLogin.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
                <div class="bg-white rounded shadow-5-strong p-5">


                    <form (ngSubmit)="register()">

                        <div class="form-outline mb-4">
                            <input type="email" name="email"  class="form-control" [(ngModel)]="email"
                            placeholder="Enter email" required>
                            <label class="form-label">Email</label>
                        </div>

                        <div class="data">
                            
                            <input type="password" name="password" class="form-control" [(ngModel)]="password"
                                placeholder="Enter Password" required>
                                <label class="form-label" >Password</label>
                        </div>

                        <div class="text-center ">
                            <div> Already a member? <a routerLink="/loginPage">Sign in here</a></div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <div class="col text-center fw-bold text-danger" >

    
                                    <p *ngIf="errorMessage.length > 0">
                                        {{errorMessage}}</p>
    
                                    <p *ngIf="error.message.length > 0">
                                        {{error.message}} </p>
    
                                    <p *ngIf="message.length > 0">
                                        {{message}} </p>
                                </div>
                            </div>

                        </div>


                        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
           


                        <!-- 



                        


                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">

                            </div>

                            <div class="col text-center">

                                <p *ngIf="errorMessage.length > 0">
                                    {{errorMessage}}</p>

                                <p *ngIf="error.message.length > 0">
                                    {{error.message}} </p>

                                <p *ngIf="message.length > 0">
                                    {{message}} </p>
                            </div>
                        </div>


                        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                        <button class="btn btn-primary btn-block">Back</button> -->
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="mask d-flex align-items-center h-100" style=" background-image: url('../../../assets/BgLogin.jpg');">
    <div class="container">


<div class="row justify-content-center">

    <form (ngSubmit)="register()" class="col-xl-5 col-md-8">
    
        <div class="data">
            <label>Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter email"
                required>
        </div>
    
        <div class="data">
            <label>Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="password"
                placeholder="Enter Password" required>
        </div>
    
        <div>
            <div class="register"> Already a member? <a routerLink="/login">Sign in here</a></div>
        </div>
    
        <div class="form-group">
            <p *ngIf="errorMessage.length > 0">
                {{errorMessage}}</p>
    
            <p *ngIf="error.message.length > 0">
                {{error.message}} </p>
    
            <p *ngIf="message.length > 0">
                {{message}} </p>
    
        </div>
        <div class="btn">
            <div class="inner">
            </div>
            <button type="submit">Register</button>
        </div>
    
    </form>
</div>


    </div>
</div> -->