<!-- <form [formGroup]="insertFrm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="title">Item title</label>
        <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter title"
            formControlName="title">
        <div *ngIf="insertFrm.get('title').touched==false && insertFrm.get('title').invalid==true">Invalid</div>
        <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter note"
            formControlName="note">
            <div *ngIf="insertFrm.get('note').touched==false && insertFrm.get('note').invalid==true">Invalid</div>

        <button type="submit"></button>

    </div>
</form> -->

<div class="container">
    <div id="contact">

        <form [formGroup]="insertFrm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <h3>Insert Form</h3>
                <h4>Fill in the form</h4>
                <fieldset>
                    <input placeholder="Enter title" type="text" formControlName="title">
                </fieldset>
                <fieldset>
                    <input placeholder="Enter note" type="text" formControlName="note">
                </fieldset>
                <fieldset>
                    <input placeholder="Enter price" type="number" formControlName="price">
                </fieldset>
                <fieldset>
                    <input placeholder="Enter quanlity" type="number" formControlName="quanlity">
                </fieldset>
                <fieldset>
                    <input (change)="onFileChange($event)" type="file" accept=".jpg,.jpeg,.png" class="form-control"
                        id="customFile" />
                </fieldset>
                <!-- <label class="form-label" for="customFile">Default file input example</label> -->
                <button #submit type="submit" style="border: none;
                background:none;"></button>
            </div>
        </form>

        <div class="container">
            <div class="row" style="margin-bottom: 5%;">
                <div class="col-md-6">
                    <ng-select class="w-100" [(ngModel)]="selectedTag" (change)="check(selectedTag)">
                        <ng-option *ngFor="let tag of tags |async" [value]="tag.id">{{tag.name}}</ng-option>
                    </ng-select>



                </div>
                <div class="col-md ml-1">
                    <button class="h-100 p-2 btn btn-primary" matTooltip="Add tag" (click)="add()">
                        <i class="fas fa-plus"></i>
                    </button>

                </div>
            </div>

        </div>

        <div class="row itemsBlock text-center" style="margin-bottom: 5%;">
            <div *ngFor="let item of addTag;let i = index" class="col-md-4 col-sm-6 col-12">
                <button matTooltip="Remove tag" type="button" class="mt-1 p-2 btn btn-outline-dark btn-rounded"
                    data-mdb-ripple-color="dark" (click)="remove(i)">{{item.name}} <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div>
            <button class="btn btn-primary p-1" (click)="submit.click()">Create</button>
        </div>
    </div>
</div>